<div *ngIf="loader">
  <div class="loader"></div>
  <div id="overlay"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="yellow">
        <h1>Welcome! {{user}}</h1>
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary float-right margin-top25" id="signoutBtn" (click)="signout()">
        Logout
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="peoples">
        <div *ngFor="let people of peoples.results">
          <div class="response">
            <p>Planet Name: {{people.name}}</p>
            <p>Rotation period: {{people.rotation_period}}, Orbital period: {{people.orbital_period}}, Diameter:
              {{people.diameter}}</p>
            <p>Climate: {{people.climate}}, Gravity: {{people.gravity}}, Terrain: {{people.terrain}}</p>
            <p>Surface water: {{people.surface_water}}, Population: {{people.population}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>