body {
    margin: 0;
    padding: 0;
    background: url("./star wars.jpg");
  }
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: 40px 0 0 -30px;
    border: 7px solid #f3f3f3;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
        -ms-border-radius: 50px;
            border-radius: 50px;
    border-top: 7px solid #000;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% {
    }
    100% {
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1s;
  }
  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  .float-right {
    float: right;
  }
  .danger {
    color: #f00;
  }
  .yellow {
    color: #ffe300;
  }
  .center {
    text-align: center;
  }
  .form-box {
    background: white;
    padding: 20px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
            border-radius: 10px;
  }
  .margin-top25 {
    margin-top: 25px;
  }
  .response {
    background-color:#fff;
    margin: 5px 0px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }
  .jumbo {
    font-size: 65px;
  }
  .row {
    margin: 0 !important;
  }
  #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }